#UEFA EURO 2024 Players Dataset

In [28]:
#link to the Kaggle dataset -> https://www.kaggle.com/datasets/damirdizdarevic/uefa-euro-2024-players

import pandas as pd
import numpy as np

##Data Exploration

In [29]:
df_euro_2024_players = pd.read_csv("/content/euro2024_players.csv")

In [30]:
df_euro_2024_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 623 entries, 0 to 622
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         623 non-null    object
 1   Position     623 non-null    object
 2   Age          623 non-null    int64
 3   Club         623 non-null    object
 4   Height       623 non-null    int64
 5   Foot         620 non-null    object
 6   Caps         623 non-null    int64
 7   Goals        623 non-null    int64
 8   MarketValue  623 non-null    int64
 9   Country      623 non-null    object
dtypes: int64(5), object(5)
memory usage: 48.8+ KB

In [31]:
'''
About Dataset
Dataset of all the players that are in the squad of the teams participating
in the UEFA EURO 2024. Contains info about clubs, age, height, market value etc.
which can be very good for EDA and Data Visualizations.
'''

'\nAbout Dataset\nDataset of all the players that are in the squad of the teams participating\nin the UEFA EURO 2024. Contains info about clubs, age, height, market value etc.\nwhich can be very good for EDA and Data Visualizations.\n'

In [32]:
df_euro_2024_players.describe(include='all')

,Name,Position,Age,Club,Height,Foot,Caps,Goals,MarketValue,Country
count,623,623,623.000000,623,623.000000,620,623.000000,623.000000,6.230000e+02,623
unique,623,13,NaN,219,NaN,4,NaN,NaN,NaN,24
top,Tomas Chory,Centre-Back,NaN,Inter Milan,NaN,right,NaN,NaN,NaN,Poland
freq,1,125,NaN,13,NaN,436,NaN,NaN,NaN,27
mean,NaN,NaN,27.040128,NaN,184.181380,NaN,30.338684,4.152488,1.840903e+07,NaN
std,NaN,NaN,4.124275,NaN,6.569258,NaN,30.987902,10.086803,2.426195e+07,NaN
min,NaN,NaN,16.000000,NaN,167.000000,NaN,0.000000,0.000000,5.000000e+04,NaN
25%,NaN,NaN,24.000000,NaN,180.000000,NaN,7.000000,0.000000,2.900000e+06,NaN
50%,NaN,NaN,27.000000,NaN,185.000000,NaN,21.000000,1.000000,9.000000e+06,NaN
75%,NaN,NaN,30.000000,NaN,189.000000,NaN,42.000000,4.000000,2.500000e+07,NaN
max,NaN,NaN,41.000000,NaN,202.000000,NaN,206.000000,128.000000,1.800000e+08,NaN

In [33]:
columns_euro_2024_players = [
    'Name', 'Position', 'Age', 'Club',
    'Height', 'Foot', 'Caps', 'Goals',
    'MarketValue', 'Country'
]

for col in columns_euro_2024_players:
    missing = df_euro_2024_players[col].isna().sum()
    duplicated = df_euro_2024_players[col].duplicated().sum()
    total_non_null = df_euro_2024_players[col].count()

    print(f"--- {col} ---")
    print(f"Missing values:        {missing}")
    print(f"Duplicated values:     {duplicated}")
    print(f"Total non-null values: {total_non_null}\n")

--- Name ---
Missing values:        0
Duplicated values:     0
Total non-null values: 623

--- Position ---
Missing values:        0
Duplicated values:     610
Total non-null values: 623

--- Age ---
Missing values:        0
Duplicated values:     599
Total non-null values: 623

--- Club ---
Missing values:        0
Duplicated values:     404
Total non-null values: 623

--- Height ---
Missing values:        0
Duplicated values:     589
Total non-null values: 623

--- Foot ---
Missing values:        3
Duplicated values:     618
Total non-null values: 620

--- Caps ---
Missing values:        0
Duplicated values:     510
Total non-null values: 623

--- Goals ---
Missing values:        0
Duplicated values:     584
Total non-null values: 623

--- MarketValue ---
Missing values:        0
Duplicated values:     540
Total non-null values: 623

--- Country ---
Missing values:        0
Duplicated values:     599
Total non-null values: 623

##Data Cleaning

In [34]:
#Position column

#Missing values:        0
#Duplicated values:     610
#Total non-null values: 623

df_euro_2024_players['Position'].value_counts()

Position
Centre-Back           125
Central Midfield       81
Centre-Forward         77
Goalkeeper             72
Defensive Midfield     50
Attacking Midfield     48
Left Winger            44
Right-Back             43
Right Winger           35
Left-Back              33
Right Midfield          6
Second Striker          5
Left Midfield           4
Name: count, dtype: int64

In [35]:
#Age column

#Missing values:        0
#Duplicated values:     599
#Total non-null values: 623

#range check -> (16, 41)
df_euro_2024_players['Age'].min(), df_euro_2024_players['Age'].max()

df_euro_2024_players['Age'].value_counts()

Age
25    62
27    59
26    58
28    56
24    52
29    44
23    42
31    36
30    36
32    35
21    31
22    29
34    17
33    15
35    12
20    12
19     6
36     5
37     5
38     4
18     4
16     1
41     1
39     1
Name: count, dtype: int64

In [36]:
#Club column

#Missing values:        0
#Duplicated values:     404
#Total non-null values: 623

df_euro_2024_players['Club'].value_counts()

Club
Inter Milan            13
Manchester City        13
FC Barcelona           12
Real Madrid            12
Paris Saint-Germain    12
                       ..
Cracovia                1
Karlsruher SC           1
FC Metz                 1
Dinamo Batumi           1
Twente Enschede FC      1
Name: count, Length: 219, dtype: int64

In [37]:
#Height column

#Missing values:        0
#Duplicated values:     589
#Total non-null values: 623

#range check -> (167, 202)
df_euro_2024_players['Height'].min(), df_euro_2024_players['Height'].max()

df_euro_2024_players['Height'].value_counts()

Height
188    43
178    42
185    39
190    38
180    38
183    32
186    32
182    32
189    31
187    31
191    31
184    25
175    24
181    23
192    19
179    15
177    15
193    13
173    12
196    11
174    11
194    11
195    10
172    10
176     6
170     6
197     5
171     5
199     4
169     4
168     2
167     1
202     1
198     1
Name: count, dtype: int64

In [38]:
#Foot column

#Missing values:        3
#Duplicated values:     618
#Total non-null values: 620

df_euro_2024_players['Foot'].value_counts()

Foot
right    436
left     150
both      31
-          3
Name: count, dtype: int64

In [39]:
#Caps column

#Missing values:        0
#Duplicated values:     510
#Total non-null values: 623

df_euro_2024_players['Caps'].value_counts()

Caps
1      37
3      27
2      22
6      17
4      16
       ..
85      1
112     1
108     1
136     1
206     1
Name: count, Length: 113, dtype: int64

In [40]:
#Goals column

#Missing values:        0
#Duplicated values:     584
#Total non-null values: 623

df_euro_2024_players['Goals'].value_counts()

Goals
0      253
1       94
2       70
3       44
4       23
8       19
5       16
6       14
11      12
7       12
13       7
10       7
12       7
9        7
17       5
18       3
14       3
45       2
28       2
22       2
57       2
15       2
16       1
24       1
34       1
19       1
31       1
41       1
63       1
33       1
82       1
36       1
47       1
44       1
27       1
83       1
46       1
20       1
128      1
Name: count, dtype: int64

In [41]:
#MarketValue column

#Missing values:        0
#Duplicated values:     540
#Total non-null values: 623

#range check -> (50.000, 180.000.000)
df_euro_2024_players['MarketValue'].min(), df_euro_2024_players['MarketValue'].max()

df_euro_2024_players['MarketValue'].value_counts()

MarketValue
5000000     28
2500000     26
3000000     26
10000000    25
30000000    25
            ..
50000        1
1100000      1
250000       1
750000       1
3200000      1
Name: count, Length: 83, dtype: int64

In [42]:
#Country column

#Missing values:        0
#Duplicated values:     599
#Total non-null values: 623

df_euro_2024_players['Country'].value_counts()

Country
Poland            27
Germany           26
Hungary           26
Scotland          26
Spain             26
Croatia           26
Albania           26
Switzerland       26
Italy             26
Slovenia          26
Denmark           26
England           26
Serbia            26
Netherlands       26
Austria           26
Slovakia          26
Portugal          26
Romania           26
Ukraine           26
Turkiye           26
Czech Republic    26
Georgia           26
France            25
Belgium           25
Name: count, dtype: int64