#UEFA EURO 2024 Players Dataset

In [2]:
#link to the Kaggle dataset -> https://www.kaggle.com/datasets/damirdizdarevic/uefa-euro-2024-players

import pandas as pd
import numpy as np

##Data Exploration

In [3]:
df_euro_2024_players = pd.read_csv("/content/euro2024_players.csv")

In [4]:
df_euro_2024_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 623 entries, 0 to 622
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         623 non-null    object
 1   Position     623 non-null    object
 2   Age          623 non-null    int64
 3   Club         623 non-null    object
 4   Height       623 non-null    int64
 5   Foot         620 non-null    object
 6   Caps         623 non-null    int64
 7   Goals        623 non-null    int64
 8   MarketValue  623 non-null    int64
 9   Country      623 non-null    object
dtypes: int64(5), object(5)
memory usage: 48.8+ KB

In [ ]:
'''
About Dataset
Dataset of all the players that are in the squad of the teams participating
in the UEFA EURO 2024. Contains info about clubs, age, height, market value etc.
which can be very good for EDA and Data Visualizations.
'''

In [5]:
df_euro_2024_players.describe(include='all')

,Name,Position,Age,Club,Height,Foot,Caps,Goals,MarketValue,Country
count,623,623,623.000000,623,623.000000,620,623.000000,623.000000,6.230000e+02,623
unique,623,13,NaN,219,NaN,4,NaN,NaN,NaN,24
top,Tomas Chory,Centre-Back,NaN,Inter Milan,NaN,right,NaN,NaN,NaN,Poland
freq,1,125,NaN,13,NaN,436,NaN,NaN,NaN,27
mean,NaN,NaN,27.040128,NaN,184.181380,NaN,30.338684,4.152488,1.840903e+07,NaN
std,NaN,NaN,4.124275,NaN,6.569258,NaN,30.987902,10.086803,2.426195e+07,NaN
min,NaN,NaN,16.000000,NaN,167.000000,NaN,0.000000,0.000000,5.000000e+04,NaN
25%,NaN,NaN,24.000000,NaN,180.000000,NaN,7.000000,0.000000,2.900000e+06,NaN
50%,NaN,NaN,27.000000,NaN,185.000000,NaN,21.000000,1.000000,9.000000e+06,NaN
75%,NaN,NaN,30.000000,NaN,189.000000,NaN,42.000000,4.000000,2.500000e+07,NaN
max,NaN,NaN,41.000000,NaN,202.000000,NaN,206.000000,128.000000,1.800000e+08,NaN

In [6]:
columns_euro_2024_players = [
    'Name', 'Position', 'Age', 'Club',
    'Height', 'Foot', 'Caps', 'Goals',
    'MarketValue', 'Country'
]

for col in columns_euro_2024_players:
    missing = df_euro_2024_players[col].isna().sum()
    duplicated = df_euro_2024_players[col].duplicated().sum()
    total_non_null = df_euro_2024_players[col].count()

    print(f"--- {col} ---")
    print(f"Missing values:        {missing}")
    print(f"Duplicated values:     {duplicated}")
    print(f"Total non-null values: {total_non_null}\n")

--- Name ---
Missing values:        0
Duplicated values:     0
Total non-null values: 623

--- Position ---
Missing values:        0
Duplicated values:     610
Total non-null values: 623

--- Age ---
Missing values:        0
Duplicated values:     599
Total non-null values: 623

--- Club ---
Missing values:        0
Duplicated values:     404
Total non-null values: 623

--- Height ---
Missing values:        0
Duplicated values:     589
Total non-null values: 623

--- Foot ---
Missing values:        3
Duplicated values:     618
Total non-null values: 620

--- Caps ---
Missing values:        0
Duplicated values:     510
Total non-null values: 623

--- Goals ---
Missing values:        0
Duplicated values:     584
Total non-null values: 623

--- MarketValue ---
Missing values:        0
Duplicated values:     540
Total non-null values: 623

--- Country ---
Missing values:        0
Duplicated values:     599
Total non-null values: 623