#European Football Transfers Dataset

In [17]:
#link to the Kaggle dataset -> https://www.kaggle.com/datasets/giovannibeli/european-football-transfers-database

import pandas as pd
import numpy as np

##Data Exploration

In [18]:
#SEMICOLON-SEPARATED FACT TABLES
df_clubs_in_leagues = pd.read_csv("/content/clubs_in_leagues.csv", sep=";")
df_coaches_in_clubs = pd.read_csv("/content/coaches_in_clubs.csv", sep=";")
df_nat_stats_of_players = pd.read_csv("/content/nat_stats_of_players.csv", sep=";")
df_players_in_clubs = pd.read_csv("/content/players_in_clubs.csv", sep=";")
df_pos_stats_of_players = pd.read_csv("/content/pos_stats_of_players.csv", sep=";")
df_stats_of_players = pd.read_csv("/content/stats_of_players.csv", sep=";")
df_transfers = pd.read_csv("/content/transfers.csv", sep=";")

#CLEAN TSV DICTIONARIES
df_dict_countries = pd.read_csv(
    "/content/dict_countries.csv",
    sep=";",
    engine="python",
    encoding="utf-8"
)

df_dict_leagues = pd.read_csv(
    "/content/dict_leagues.csv",
    sep=";",
    engine="python",
    encoding="utf-8"
)

df_dict_stadiums = pd.read_csv(
    "/content/dict_stadiums.csv",
    sep=";",
    engine="python",
    encoding="utf-8"
)

#DIRTY TSV DICTIONARIES
df_dict_clubs = pd.read_csv(
    "/content/dict_clubs.csv",
    sep="\t",
    header=None,
    names=["club"],
    engine="python",
    encoding="utf-8",
    on_bad_lines="skip"
)

df_dict_players = pd.read_csv(
    "/content/dict_players.csv",
    sep="\t",
    header=None,
    names=["player"],
    engine="python",
    encoding="utf-8",
    on_bad_lines="skip"
)

In [19]:
df_clubs_in_leagues.info()
df_coaches_in_clubs.info()
df_dict_clubs.info()
df_dict_countries.info()
df_dict_leagues.info()
df_dict_players.info()
df_dict_stadiums.info()
df_nat_stats_of_players.info()
df_players_in_clubs.info()
df_pos_stats_of_players.info()
df_stats_of_players.info()
df_transfers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3578 entries, 0 to 3577
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       3578 non-null   int64
 1   id               3578 non-null   int64
 2   club_id          3578 non-null   int64
 3   club_name        3578 non-null   object
 4   league_id        3578 non-null   int64
 5   season           3578 non-null   int64
 6   matches_played   3578 non-null   int64
 7   matches_overall  3578 non-null   int64
 8   wins             3578 non-null   int64
 9   draws            3578 non-null   int64
 10  loses            3578 non-null   int64
 11  goals_scored     3578 non-null   int64
 12  goals_cons       3578 non-null   int64
 13  goals_diff       3578 non-null   int64
 14  points           3578 non-null   int64
 15  place            3578 non-null   int64
 16  qualified_to     1283 non-null   object
 17  is_champion      3394 non-null   float64
 18  is_cup_winner    3394 non-null   float64
 19  is_promoted      3394 non-null   float64
dtypes: float64(3), int64(15), object(2)
memory usage: 559.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5105 entries, 0 to 5104
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              5105 non-null   int64
 1   coach_id        5105 non-null   int64
 2   coach_name      5103 non-null   object
 3   club_id         5105 non-null   int64
 4   club_name       5105 non-null   object
 5   season          5105 non-null   int64
 6   appointed       5087 non-null   object
 7   contract_until  4846 non-null   object
dtypes: int64(4), object(4)
memory usage: 319.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9379 entries, 0 to 9378
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   club    9379 non-null   object
dtypes: object(1)
memory usage: 73.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               252 non-null    int64
 1   name             252 non-null    object
 2   off_name         252 non-null    object
 3   sovereignty      252 non-null    object
 4   alpha_2_code     251 non-null    object
 5   alpha_3_code     252 non-null    object
 6   numeric_code     252 non-null    int64
 7   iso_subdivision  252 non-null    object
 8   nat_domain       252 non-null    object
dtypes: int64(2), object(7)
memory usage: 17.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          52 non-null     int64
 1   name        52 non-null     object
 2   country     52 non-null     object
 3   country_id  47 non-null     object
 4   num         52 non-null     int64
 5   evaluation  47 non-null     float64
 6   group       52 non-null     int64
dtypes: float64(1), int64(3), object(3)
memory usage: 3.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11382 entries, 0 to 11381
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   player  11382 non-null  object
dtypes: object(1)
memory usage: 89.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4048 entries, 0 to 4047
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  4048 non-null   int64
 1   confederation       4048 non-null   object
 2   stadium             4048 non-null   object
 3   city                4048 non-null   object
 4   home_teams          3640 non-null   object
 5   capacity            4048 non-null   int64
 6   county              4048 non-null   object
 7   ioc                 4048 non-null   object
 8   country_population  4048 non-null   int64
dtypes: int64(3), object(6)
memory usage: 284.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24182 entries, 0 to 24181
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              24182 non-null  int64
 1   player_id       24182 non-null  int64
 2   player_name     24182 non-null  object
 3   national_name   24182 non-null  object
 4   debut           16407 non-null  object
 5   matches_played  22760 non-null  float64
 6   goals_scored    10291 non-null  float64
dtypes: float64(2), int64(2), object(3)
memory usage: 1.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170251 entries, 0 to 170250
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             170251 non-null  int64
 1   club_id        170251 non-null  int64
 2   club_name      170251 non-null  object
 3   player_id      83132 non-null   float64
 4   player_name    170251 non-null  object
 5   season         170251 non-null  int64
 6   player_number  131595 non-null  float64
 7   market_value   132174 non-null  float64
dtypes: float64(3), int64(3), object(2)
memory usage: 10.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45964 entries, 0 to 45963
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           45964 non-null  int64
 1   player_id    45964 non-null  int64
 2   player_name  45964 non-null  object
 3   position     45964 non-null  object
 4   apps         45964 non-null  int64
 5   goals        24697 non-null  float64
 6   assists      23840 non-null  float64
dtypes: float64(2), int64(3), object(2)
memory usage: 2.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231379 entries, 0 to 231378
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                231379 non-null  int64
 1   player_id         231379 non-null  int64
 2   player_name       231379 non-null  object
 3   season            231379 non-null  int64
 4   league_id         231379 non-null  int64
 5   league_name       231379 non-null  object
 6   club_id           231379 non-null  int64
 7   club_name         231379 non-null  object
 8   apps              231379 non-null  int64
 9   points_per_match  225422 non-null  float64
 10  goals             166957 non-null  float64
 11  assists           159543 non-null  float64
 12  conceded_goals    118416 non-null  float64
 13  clean_sheets      117263 non-null  float64
 14  yellow_card       190724 non-null  float64
 15  two_yellow_cards  117566 non-null  float64
 16  red_card          117467 non-null  float64
 17  minutes_played    231379 non-null  int64
dtypes: float64(8), int64(7), object(3)
memory usage: 31.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111602 entries, 0 to 111601
Data columns (total 19 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   111602 non-null  int64
 1   player_id            111602 non-null  int64
 2   player_name          111602 non-null  object
 3   season               111602 non-null  int64
 4   date                 111530 non-null  object
 5   from_club_id         111602 non-null  int64
 6   from_club_name       111602 non-null  object
 7   to_club_id           111602 non-null  int64
 8   to_club_name         111602 non-null  object
 9   market_value         72589 non-null   float64
 10  fee                  42799 non-null   float64
 11  from_coach_name      38687 non-null   object
 12  to_coach_name        38690 non-null   object
 13  from_sport_dir_name  17854 non-null   object
 14  to_sport_dir_name    18226 non-null   object
 15  contract_was_till    17621 non-null   object
 16  is_loan              111602 non-null  int64
 17  is_end_of_loan       111602 non-null  int64
 18  is_future_transfer   111602 non-null  int64
dtypes: float64(2), int64(8), object(9)
memory usage: 16.2+ MB

In [ ]:
'''
About Dataset
List of all major football transfers to european clubs from top 10 leagues
'''

In [21]:
#df_clubs_in_leagues
for col in df_clubs_in_leagues.columns:
    missing = df_clubs_in_leagues[col].isna().sum()
    duplicated = df_clubs_in_leagues[col].duplicated().sum()
    total_non_null = df_clubs_in_leagues[col].count()

    print(f"--- {col} ---")
    print(f"Missing values:        {missing}")
    print(f"Duplicated values:     {duplicated}")
    print(f"Total non-null values: {total_non_null}\n")

--- Unnamed: 0 ---
Missing values:        0
Duplicated values:     0
Total non-null values: 3578

--- id ---
Missing values:        0
Duplicated values:     0
Total non-null values: 3578

--- club_id ---
Missing values:        0
Duplicated values:     3188
Total non-null values: 3578

--- club_name ---
Missing values:        0
Duplicated values:     3171
Total non-null values: 3578

--- league_id ---
Missing values:        0
Duplicated values:     3568
Total non-null values: 3578

--- season ---
Missing values:        0
Duplicated values:     3558
Total non-null values: 3578

--- matches_played ---
Missing values:        0
Duplicated values:     3561
Total non-null values: 3578

--- matches_overall ---
Missing values:        0
Duplicated values:     3568
Total non-null values: 3578

--- wins ---
Missing values:        0
Duplicated values:     3544
Total non-null values: 3578

--- draws ---
Missing values:        0
Duplicated values:     3556
Total non-null values: 3578

--- loses ---
Missing values:        0
Duplicated values:     3547
Total non-null values: 3578

--- goals_scored ---
Missing values:        0
Duplicated values:     3471
Total non-null values: 3578

--- goals_cons ---
Missing values:        0
Duplicated values:     3493
Total non-null values: 3578

--- goals_diff ---
Missing values:        0
Duplicated values:     3436
Total non-null values: 3578

--- points ---
Missing values:        0
Duplicated values:     3485
Total non-null values: 3578

--- place ---
Missing values:        0
Duplicated values:     3558
Total non-null values: 3578

--- qualified_to ---
Missing values:        2295
Duplicated values:     3571
Total non-null values: 1283

--- is_champion ---
Missing values:        184
Duplicated values:     3575
Total non-null values: 3394

--- is_cup_winner ---
Missing values:        184
Duplicated values:     3575
Total non-null values: 3394

--- is_promoted ---
Missing values:        184
Duplicated values:     3575
Total non-null values: 3394

In [22]:
#df_coaches_in_clubs
for col in df_coaches_in_clubs.columns:
    missing = df_coaches_in_clubs[col].isna().sum()
    duplicated = df_coaches_in_clubs[col].duplicated().sum()
    total_non_null = df_coaches_in_clubs[col].count()

    print(f"--- {col} ---")
    print(f"Missing values:        {missing}")
    print(f"Duplicated values:     {duplicated}")
    print(f"Total non-null values: {total_non_null}\n")

--- id ---
Missing values:        0
Duplicated values:     0
Total non-null values: 5105

--- coach_id ---
Missing values:        0
Duplicated values:     3399
Total non-null values: 5105

--- coach_name ---
Missing values:        2
Duplicated values:     3403
Total non-null values: 5103

--- club_id ---
Missing values:        0
Duplicated values:     4720
Total non-null values: 5105

--- club_name ---
Missing values:        0
Duplicated values:     4720
Total non-null values: 5105

--- season ---
Missing values:        0
Duplicated values:     5091
Total non-null values: 5105

--- appointed ---
Missing values:        18
Duplicated values:     3370
Total non-null values: 5087

--- contract_until ---
Missing values:        259
Duplicated values:     3349
Total non-null values: 4846

In [23]:
#df_dict_clubs
for col in df_dict_clubs.columns:
    missing = df_dict_clubs[col].isna().sum()
    duplicated = df_dict_clubs[col].duplicated().sum()
    total_non_null = df_dict_clubs[col].count()

    print(f"--- {col} ---")
    print(f"Missing values:        {missing}")
    print(f"Duplicated values:     {duplicated}")
    print(f"Total non-null values: {total_non_null}\n")

--- club ---
Missing values:        0
Duplicated values:     0
Total non-null values: 9379

In [24]:
#df_dict_countries
for col in df_dict_countries.columns:
    missing = df_dict_countries[col].isna().sum()
    duplicated = df_dict_countries[col].duplicated().sum()
    total_non_null = df_dict_countries[col].count()

    print(f"--- {col} ---")
    print(f"Missing values:        {missing}")
    print(f"Duplicated values:     {duplicated}")
    print(f"Total non-null values: {total_non_null}\n")

--- id ---
Missing values:        0
Duplicated values:     0
Total non-null values: 252

--- name ---
Missing values:        0
Duplicated values:     0
Total non-null values: 252

--- off_name ---
Missing values:        0
Duplicated values:     0
Total non-null values: 252

--- sovereignty ---
Missing values:        0
Duplicated values:     236
Total non-null values: 252

--- alpha_2_code ---
Missing values:        1
Duplicated values:     4
Total non-null values: 251

--- alpha_3_code ---
Missing values:        0
Duplicated values:     4
Total non-null values: 252

--- numeric_code ---
Missing values:        0
Duplicated values:     4
Total non-null values: 252

--- iso_subdivision ---
Missing values:        0
Duplicated values:     4
Total non-null values: 252

--- nat_domain ---
Missing values:        0
Duplicated values:     4
Total non-null values: 252

In [25]:
#df_dict_leagues
for col in df_dict_leagues.columns:
    missing = df_dict_leagues[col].isna().sum()
    duplicated = df_dict_leagues[col].duplicated().sum()
    total_non_null = df_dict_leagues[col].count()

    print(f"--- {col} ---")
    print(f"Missing values:        {missing}")
    print(f"Duplicated values:     {duplicated}")
    print(f"Total non-null values: {total_non_null}\n")

--- id ---
Missing values:        0
Duplicated values:     0
Total non-null values: 52

--- name ---
Missing values:        0
Duplicated values:     4
Total non-null values: 52

--- country ---
Missing values:        0
Duplicated values:     5
Total non-null values: 52

--- country_id ---
Missing values:        5
Duplicated values:     7
Total non-null values: 47

--- num ---
Missing values:        0
Duplicated values:     50
Total non-null values: 52

--- evaluation ---
Missing values:        5
Duplicated values:     5
Total non-null values: 47

--- group ---
Missing values:        0
Duplicated values:     45
Total non-null values: 52

In [26]:
#df_dict_players
for col in df_dict_players.columns:
    missing = df_dict_players[col].isna().sum()
    duplicated = df_dict_players[col].duplicated().sum()
    total_non_null = df_dict_players[col].count()

    print(f"--- {col} ---")
    print(f"Missing values:        {missing}")
    print(f"Duplicated values:     {duplicated}")
    print(f"Total non-null values: {total_non_null}\n")

--- player ---
Missing values:        0
Duplicated values:     0
Total non-null values: 11382

In [27]:
#df_dict_stadiums
for col in df_dict_stadiums.columns:
    missing = df_dict_stadiums[col].isna().sum()
    duplicated = df_dict_stadiums[col].duplicated().sum()
    total_non_null = df_dict_stadiums[col].count()

    print(f"--- {col} ---")
    print(f"Missing values:        {missing}")
    print(f"Duplicated values:     {duplicated}")
    print(f"Total non-null values: {total_non_null}\n")

--- id ---
Missing values:        0
Duplicated values:     0
Total non-null values: 4048

--- confederation ---
Missing values:        0
Duplicated values:     4042
Total non-null values: 4048

--- stadium ---
Missing values:        0
Duplicated values:     2055
Total non-null values: 4048

--- city ---
Missing values:        0
Duplicated values:     2504
Total non-null values: 4048

--- home_teams ---
Missing values:        408
Duplicated values:     2412
Total non-null values: 3640

--- capacity ---
Missing values:        0
Duplicated values:     2709
Total non-null values: 4048

--- county ---
Missing values:        0
Duplicated values:     3919
Total non-null values: 4048

--- ioc ---
Missing values:        0
Duplicated values:     3919
Total non-null values: 4048

--- country_population ---
Missing values:        0
Duplicated values:     3919
Total non-null values: 4048

In [28]:
#df_nat_stats_of_players
for col in df_nat_stats_of_players.columns:
    missing = df_nat_stats_of_players[col].isna().sum()
    duplicated = df_nat_stats_of_players[col].duplicated().sum()
    total_non_null = df_nat_stats_of_players[col].count()

    print(f"--- {col} ---")
    print(f"Missing values:        {missing}")
    print(f"Duplicated values:     {duplicated}")
    print(f"Total non-null values: {total_non_null}\n")

--- id ---
Missing values:        0
Duplicated values:     0
Total non-null values: 24182

--- player_id ---
Missing values:        0
Duplicated values:     15326
Total non-null values: 24182

--- player_name ---
Missing values:        0
Duplicated values:     15404
Total non-null values: 24182

--- national_name ---
Missing values:        0
Duplicated values:     23541
Total non-null values: 24182

--- debut ---
Missing values:        7775
Duplicated values:     20789
Total non-null values: 16407

--- matches_played ---
Missing values:        1422
Duplicated values:     24027
Total non-null values: 22760

--- goals_scored ---
Missing values:        13891
Duplicated values:     24118
Total non-null values: 10291

In [29]:
#df_players_in_clubs
for col in df_players_in_clubs.columns:
    missing = df_players_in_clubs[col].isna().sum()
    duplicated = df_players_in_clubs[col].duplicated().sum()
    total_non_null = df_players_in_clubs[col].count()

    print(f"--- {col} ---")
    print(f"Missing values:        {missing}")
    print(f"Duplicated values:     {duplicated}")
    print(f"Total non-null values: {total_non_null}\n")

--- id ---
Missing values:        0
Duplicated values:     0
Total non-null values: 170251

--- club_id ---
Missing values:        0
Duplicated values:     169862
Total non-null values: 170251

--- club_name ---
Missing values:        0
Duplicated values:     169862
Total non-null values: 170251

--- player_id ---
Missing values:        87119
Duplicated values:     158868
Total non-null values: 83132

--- player_name ---
Missing values:        0
Duplicated values:     128539
Total non-null values: 170251

--- season ---
Missing values:        0
Duplicated values:     170237
Total non-null values: 170251

--- player_number ---
Missing values:        38656
Duplicated values:     170151
Total non-null values: 131595

--- market_value ---
Missing values:        38077
Duplicated values:     169844
Total non-null values: 132174

In [30]:
#df_pos_stats_of_players
for col in df_pos_stats_of_players.columns:
    missing = df_pos_stats_of_players[col].isna().sum()
    duplicated = df_pos_stats_of_players[col].duplicated().sum()
    total_non_null = df_pos_stats_of_players[col].count()

    print(f"--- {col} ---")
    print(f"Missing values:        {missing}")
    print(f"Duplicated values:     {duplicated}")
    print(f"Total non-null values: {total_non_null}\n")

--- id ---
Missing values:        0
Duplicated values:     0
Total non-null values: 45964

--- player_id ---
Missing values:        0
Duplicated values:     34648
Total non-null values: 45964

--- player_name ---
Missing values:        0
Duplicated values:     34860
Total non-null values: 45964

--- position ---
Missing values:        0
Duplicated values:     45950
Total non-null values: 45964

--- apps ---
Missing values:        0
Duplicated values:     45538
Total non-null values: 45964

--- goals ---
Missing values:        21267
Duplicated values:     45793
Total non-null values: 24697

--- assists ---
Missing values:        22124
Duplicated values:     45865
Total non-null values: 23840

In [31]:
#df_stats_of_players
for col in df_stats_of_players.columns:
    missing = df_stats_of_players[col].isna().sum()
    duplicated = df_stats_of_players[col].duplicated().sum()
    total_non_null = df_stats_of_players[col].count()

    print(f"--- {col} ---")
    print(f"Missing values:        {missing}")
    print(f"Duplicated values:     {duplicated}")
    print(f"Total non-null values: {total_non_null}\n")

--- id ---
Missing values:        0
Duplicated values:     0
Total non-null values: 231379

--- player_id ---
Missing values:        0
Duplicated values:     219999
Total non-null values: 231379

--- player_name ---
Missing values:        0
Duplicated values:     220212
Total non-null values: 231379

--- season ---
Missing values:        0
Duplicated values:     231343
Total non-null values: 231379

--- league_id ---
Missing values:        0
Duplicated values:     231327
Total non-null values: 231379

--- league_name ---
Missing values:        0
Duplicated values:     231320
Total non-null values: 231379

--- club_id ---
Missing values:        0
Duplicated values:     227918
Total non-null values: 231379

--- club_name ---
Missing values:        0
Duplicated values:     227649
Total non-null values: 231379

--- apps ---
Missing values:        0
Duplicated values:     231316
Total non-null values: 231379

--- points_per_match ---
Missing values:        5957
Duplicated values:     231086
Total non-null values: 225422

--- goals ---
Missing values:        64422
Duplicated values:     231331
Total non-null values: 166957

--- assists ---
Missing values:        71836
Duplicated values:     231353
Total non-null values: 159543

--- conceded_goals ---
Missing values:        112963
Duplicated values:     231286
Total non-null values: 118416

--- clean_sheets ---
Missing values:        114116
Duplicated values:     231347
Total non-null values: 117263

--- yellow_card ---
Missing values:        40655
Duplicated values:     231356
Total non-null values: 190724

--- two_yellow_cards ---
Missing values:        113813
Duplicated values:     231373
Total non-null values: 117566

--- red_card ---
Missing values:        113912
Duplicated values:     231373
Total non-null values: 117467

--- minutes_played ---
Missing values:        0
Duplicated values:     226980
Total non-null values: 231379

In [32]:
#df_transfers
for col in df_transfers.columns:
    missing = df_transfers[col].isna().sum()
    duplicated = df_transfers[col].duplicated().sum()
    total_non_null = df_transfers[col].count()

    print(f"--- {col} ---")
    print(f"Missing values:        {missing}")
    print(f"Duplicated values:     {duplicated}")
    print(f"Total non-null values: {total_non_null}\n")

--- id ---
Missing values:        0
Duplicated values:     0
Total non-null values: 111602

--- player_id ---
Missing values:        0
Duplicated values:     100220
Total non-null values: 111602

--- player_name ---
Missing values:        0
Duplicated values:     100433
Total non-null values: 111602

--- season ---
Missing values:        0
Duplicated values:     111565
Total non-null values: 111602

--- date ---
Missing values:        72
Duplicated values:     106732
Total non-null values: 111530

--- from_club_id ---
Missing values:        0
Duplicated values:     102677
Total non-null values: 111602

--- from_club_name ---
Missing values:        0
Duplicated values:     102437
Total non-null values: 111602

--- to_club_id ---
Missing values:        0
Duplicated values:     104699
Total non-null values: 111602

--- to_club_name ---
Missing values:        0
Duplicated values:     104445
Total non-null values: 111602

--- market_value ---
Missing values:        39013
Duplicated values:     111344
Total non-null values: 72589

--- fee ---
Missing values:        68803
Duplicated values:     110686
Total non-null values: 42799

--- from_coach_name ---
Missing values:        72915
Duplicated values:     108050
Total non-null values: 38687

--- to_coach_name ---
Missing values:        72912
Duplicated values:     108387
Total non-null values: 38690

--- from_sport_dir_name ---
Missing values:        93748
Duplicated values:     110536
Total non-null values: 17854

--- to_sport_dir_name ---
Missing values:        93376
Duplicated values:     110572
Total non-null values: 18226

--- contract_was_till ---
Missing values:        93981
Duplicated values:     111284
Total non-null values: 17621

--- is_loan ---
Missing values:        0
Duplicated values:     111600
Total non-null values: 111602

--- is_end_of_loan ---
Missing values:        0
Duplicated values:     111600
Total non-null values: 111602

--- is_future_transfer ---
Missing values:        0
Duplicated values:     111600
Total non-null values: 111602

##Data Cleaning

###df_clubs_in_leagues

In [34]:
#club_name column

#Missing values:        0
#Duplicated values:     3171
#Total non-null values: 3578

df_clubs_in_leagues['club_name'].value_counts().head(10)

club_name
CSKA Moscow       20
Zenit S-Pb        20
Loko Moscow       20
Everton           20
Spartak Moscow    20
Spurs             20
Chelsea           20
Inter             20
Liverpool         20
Arsenal           20
Name: count, dtype: int64

In [39]:
#season column

#Missing values:        0
#Duplicated values:     3558
#Total non-null values: 3578

df_clubs_in_leagues['season'].value_counts()

#range check -> (1999, 2018)
df_clubs_in_leagues['season'].min(), df_clubs_in_leagues['season'].max()

(1999, 2018)

In [41]:
#matches_played column

#Missing values:        0
#Duplicated values:     3561
#Total non-null values: 3578

df_clubs_in_leagues['matches_played'].value_counts()

#range check -> (1, 44)
#df_clubs_in_leagues['matches_played'].min(), df_clubs_in_leagues['matches_played'].max()

matches_played
34    1458
38    1360
30     522
21      72
23      48
17      28
26      18
44      16
25      16
28      14
24      11
31       6
16       4
27       2
22       1
29       1
1        1
Name: count, dtype: int64

In [44]:
#wins column

#Missing values:        0
#Duplicated values:     3544
#Total non-null values: 3578

df_clubs_in_leagues['wins'].value_counts()

#range check -> (0, 33)
df_clubs_in_leagues['wins'].min(), df_clubs_in_leagues['wins'].max()

(0, 33)

In [47]:
#draws column

#Missing values:        0
#Duplicated values:     3556
#Total non-null values: 3578

df_clubs_in_leagues['draws'].value_counts()

#range check -> (0, 34)
df_clubs_in_leagues['draws'].min(), df_clubs_in_leagues['draws'].max()

(0, 34)

In [50]:
#loses column

#Missing values:        0
#Duplicated values:     3547
#Total non-null values: 3578

df_clubs_in_leagues['loses'].value_counts()

#range check -> (0, 34)
df_clubs_in_leagues['loses'].min(), df_clubs_in_leagues['loses'].max()

(0, 34)

In [53]:
#goals_scored column

#Missing values:        0
#Duplicated values:     3471
#Total non-null values: 3578

df_clubs_in_leagues['goals_scored'].value_counts()

#range check -> (0, 121)
df_clubs_in_leagues['goals_scored'].min(), df_clubs_in_leagues['goals_scored'].max()

(0, 121)

In [56]:
#points column

#Missing values:        0
#Duplicated values:     3485
#Total non-null values: 3578

df_clubs_in_leagues['points'].value_counts()

#range check -> (0, 102)
df_clubs_in_leagues['points'].min(), df_clubs_in_leagues['points'].max()

(0, 102)

In [59]:
#place column

#Missing values:        0
#Duplicated values:     3558
#Total non-null values: 3578

df_clubs_in_leagues['place'].value_counts()

#range check -> (1, 20)
df_clubs_in_leagues['place'].min(), df_clubs_in_leagues['place'].max()

(1, 20)

In [60]:
#qualified_to column

#Missing values:        2295
#Duplicated values:     3571
#Total non-null values: 1283

df_clubs_in_leagues['qualified_to'].value_counts()

qualified_to
Relegated              370
CL                     297
EL Quals               231
EL                     154
CL Quals               150
Relegation Playoffs     81
Name: count, dtype: int64

In [64]:
#is_champion column

#Missing values:        184
#Duplicated values:     3575
#Total non-null values: 3394

# 0-no, 1-yes
df_clubs_in_leagues['is_champion'].value_counts()

is_champion
0.0    3209
1.0     185
Name: count, dtype: int64

In [66]:
#is_cup_winner column

#Missing values:        184
#Duplicated values:     3575
#Total non-null values: 3394

# 0-no, 1-yes
df_clubs_in_leagues['is_cup_winner'].value_counts()

is_cup_winner
0.0    3213
1.0     181
Name: count, dtype: int64

In [68]:
#is_promoted column

#Missing values:        184
#Duplicated values:     3575
#Total non-null values: 3394

# 0-no, 1-yes
df_clubs_in_leagues['is_promoted'].value_counts()

is_promoted
0.0    3387
1.0       7
Name: count, dtype: int64